<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="23cc7f9c34fd4adc855ec67a55acf615" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_23cc7f9c34fd4adc855ec67a55acf615 = echarts.init(
            document.getElementById('23cc7f9c34fd4adc855ec67a55acf615'), 'white', {renderer: 'canvas'});
        var option_23cc7f9c34fd4adc855ec67a55acf615 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "tree",
            "data": [
                {
                    "children": [
                        {
                            "children": [
                                {
                                    "name": "\u8212\u670d"
                                },
                                {
                                    "name": "\u8d28\u91cf"
                                },
                                {
                                    "name": "\u559c\u6b22"
                                },
                                {
                                    "name": "\u978b\u5e95"
                                },
                                {
                                    "name": "\u8212\u9002\u5ea6"
                                },
                                {
                                    "name": "\u8f7b\u4fbf"
                                },
                                {
                                    "name": "\u611f\u89c9"
                                },
                                {
                                    "name": "\u8dd1\u6b65"
                                },
                                {
                                    "name": "\u624b\u611f"
                                }
                            ],
                            "name": "\u8d28\u91cf",
                            "collapsed": "false"
                        },
                        {
                            "children": [
                                {
                                    "name": "\u652f\u6301"
                                },
                                {
                                    "name": "\u56fd\u8d27"
                                },
                                {
                                    "name": "\u56fd\u4ea7"
                                },
                                {
                                    "name": "\u5468\u5230"
                                },
                                {
                                    "name": "\u7231"
                                }
                            ],
                            "name": "\u60c5\u6000"
                        },
                        {
                            "children": [
                                {
                                    "name": "\u4fbf\u5b9c"
                                },
                                {
                                    "name": "\u63a8\u8350"
                                },
                                {
                                    "name": "\u5b9e\u60e0"
                                },
                                {
                                    "name": "\u5feb\u9012"
                                },
                                {
                                    "name": "\u4ecb\u7ecd"
                                },
                                {
                                    "name": "\u7279\u522b"
                                },
                                {
                                    "name": "\u597d\u8bc4"
                                }
                            ],
                            "name": "\u6027\u4ef7\u6bd4",
                            "collapsed": "false"
                        }
                    ],
                    "name": "\u597d\u8bc4"
                }
            ],
            "symbol": "emptyCircle",
            "symbolSize": 7,
            "edgeShape": "curve",
            "edgeForkPosition": "50%",
            "roam": false,
            "expandAndCollapse": true,
            "layout": "radial",
            "orient": "LR",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "leaves": {
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                }
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4ea7\u54c1\u8bc4\u4ef7-\u597d\u8bc4",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_23cc7f9c34fd4adc855ec67a55acf615.setOption(option_23cc7f9c34fd4adc855ec67a55acf615);
    </script>
</body>
</html>
