<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
</head>
<body>

        <div id="90edb9d850d144db8ae78d880a19c6a7" class="chart-container" style="">
            <p class="title" style="font-size: 18px; font-weight:bold;" > </p>
            <p class="subtitle" style="font-size: 12px;" > </p>
            <img src="https://s2.loli.net/2021/12/26/Dnk5wEsYjZ7Fiau.png" width="1000px" height="500px" style="margin-top: 20px" />
        </div>


</body>
</html>
